<ion-view view-title="Forecasting">
	<div class="bar bar-header bar-assertive versionConflict">
      <h1 class="title">Warning: There is a new version of SAP data.</h1>
    </div>
  <ion-content class="mainContent">
  	<div class="row formHeader">
  		<div class="col-10 wbsno">WBS No</div>
  		<div class="col-25"><input type="text"/></div>
  		<div class="col-15 description">Description</div>
  		<div class="col-25"><input type="text"/></div>
  		<div class="col-25 version"><span>SAP Data Version: 06/10/2017</span></div>
  	</div>
  </ion-content>
</ion-view>
