<ion-view view-title="Forecasting">
	<div class="bar bar-header bar-assertive versionConflict">
      <h1 class="title">Warning: There is a new version of SAP data.</h1>
    </div>
  <ion-content class="mainContent">
  	<div class="row formHeader">
  		<div class="col-10 wbsno">WBS No</div>
  		<div class="col-25"><input type="text"/></div>
  		<div class="col-15 description">Description</div>
  		<div class="col-25"><input type="text"/></div>
  		<div class="col-25 version"><span>SAP Data Version: 06/10/2017</span></div>
  	</div>
  	<table class="forecasting table">
  		<tr>
  			<td>Activity</td>
  			<td>Type</td>
  			<td>Initial Budget</td>
  			<td>Current Budget</td>
  			<td>Actual Cost</td>
  			<td>Actual Commitment</td>
  			<td>FT</td>
  			<td>New Budget</td>
  			<td>Budget Chg</td>
  			<td></td>
  		</tr>
  		<tr>
  			<td>1</td>
  			<td>2</td>
  			<td>3</td>
  			<td>4</td>
  			<td>5</td>
  			<td>1</td>
  			<td>2</td>
  			<td>3</td>
  			<td>4</td>
  			<td>5</td>
  		</tr>
  	</table>
  </ion-content>
</ion-view>
