<ion-view>
	<ion-nav-title>
		<div style="display: flex;">
			<div class="item item-input item-select" style="flex: 1">
				<select >
					<option>Alderaan</option>
					<option selected="">Dagobah</option>
					<option>Felucia</option>
				</select>
			</div>
			<div class="item item-input" style="flex: 1">
				<input type="text" placeholder="First Name">
			</div>
		</div>
	</ion-nav-title>
	<ion-content>
		<ion-list>
			<!--这个地方可以写标题-->
			<ion-item class="itemHeader">
				<div style="display: flex">
					<div style="flex:1;">Hello,</div>
					<div style="flex:1;">Hello,</div>
					<div style="flex:1;">Hello,</div>
				</div>
			</ion-item>
			<!--下面可以写list循环-->
			<ion-item class="itemContent">
				<div style="display: flex">
					<div style="flex:1;">Hello,</div>
					<div style="flex:1;">Hello,</div>
					<div style="flex:1;">Hello,</div>
				</div>
			</ion-item>
			<ion-item class="itemContent">
				<div style="display: flex">
					<div style="flex:1;">Hello,</div>
					<div style="flex:1;">Hello,</div>
					<div style="flex:1;">Hello,</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>