/* Empty. Add your own CSS if you like */

ion-item.itemHeader{
	background: red;
	padding:10px;
}

ion-item.itemContent{
	padding:10px;
}

/**
 * 对select样式重写
 */
.item-select select{
	direction: ltr;
	max-width: 100%;
	width: 100%;
	background: #2B7DB5;
	-webkit-text-fill-color: #ffffff;
}
/**
 * 改变select后面的尖角号的颜色
 */
/*.item-select:after{
	color: #111;
}*/

.selectContainer{
	display: flex;
}

.selectContainer .selectField{
	flex: 1;
}
.selectContainer .selectField option{
	background: #ffffff;
}
.selectContainer .inputField{
	flex: 1;
	background: #2B7DB5;
}
.item-input.inputField input{
	color: #ffffff;
}
.bar.bar-stable {
    background-color: #ffffff;
}

.hbox,.vbox{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.hbox{
	-webkit-box-orient: horizontal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;
}

.vbox{
	-webkit-box-orient: vertical !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
}
.searchContent{
	background-color: #f5f4f4;
}
.searchCard{
	padding:10px;
	/*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);*/
	overflow: hidden;
    margin: 10px 10px 0px 10px;
    border-radius: 2px;
    background-color: #fff;
    display: inline-block;
    width: 47.5%;
}
.firstRow{
	padding:5px 0px 10px 0px;
	border-bottom: 1px solid #e8e8e8;
}
.firstRow .companyIcon{
	width: 24px;
	height: 24px;
	background-size: 24px;
	background: url(../img/dia_jianzu.png);
}
.firstRow .companyName{
	flex: 1;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #1983bb;
    font-size: 15px;
}
.firstRow .companyName div{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.firstRow .downloadIcon{
	width:24px;
	height:24px;
	background-size: 24px;
	background: url(../img/dia_download.png);
}
.sencondRow{
	padding: 10px 0px;
}
.sencondRow .addressIcon{
	width: 24px;
	height: 24px;
	background-size: 24px;
	background: url(../img/dia_dingwei.png);
}
.sencondRow .address{
	line-height: 24px;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #666666;
    font-size: 13px;
}
.thirdRow{
	padding: 0px 0px 10px 0px;
}
.thirdRow .inforIcon{
	width: 24px;
	height: 24px;
	background-size: 24px;
	background: url(../img/dia_address.png);
}
.thirdRow .field{
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	line-height: 24px;
	color: #666666;
    font-size: 13px;
}
.thirdRow .field.wbs{
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
}
.dataVersion{
	text-align: right;
	display: -webkit-box;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	color: #666666;
    font-size: 13px;
}
.bar.bar-assertive.versionConflict{
	border: none;
	background-color: #F7E0C8;
	margin-top:50px;
}
.bar.bar-assertive.versionConflict .title{
	color: #FD991B;
	text-align: left;
	font-weight: 400;
	font-size: 16px;
}
.mainContent{
	background: #F5F3F4;
}

.bar-stable.bar.bar-header{
	background: #2B7DB5;
}
.bar.bar-stable .title {
    color: #ffffff;
}
.bar-stable .button.button-clear{
	color: #ffffff;
}
.row.formHeader{
	margin-top: 55px;
	background-color: #fff;
	height: 50px;
	line-height: 40px;
}
.col-15 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%; }
.col-30 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%; }
  
.col-15.description{
	text-align: center;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.col-10.wbsno{
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.col-25 input{
	border: 1px solid #E4E4E4;
	display: inline-block;
	height: 30px;
	width: 100%;
}

.col-25.version{
	color: #A09FA0;
	text-align: center;
}

.col-25.version span{
	display: inline-block;
	line-height: 20px;
}
td, th {
    vertical-align: middle;
}

.forecasting.table{
	width:100%;
	border-collapse: collapse;
}

.forecasting.table td{
	height: 40px;
	font-size: 12px;
	color:#666666;
}

.forecasting.table tr:first-child td{
	height: 40px;
	background-color: #E9F5FF;
	color: #589AC7;
	font-size: 12px;
}

